<p-panel [showHeader]="true" header="Pipes básicos" class="p-2">
  <h1>Pipes Básicos</h1>
  <p>
    Pipes Incluuidos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid ">
  <div class="col-12 md:col-4 ">
    <p-card header="uppercase">
      <p>
        Original: {{ nameLower }}
      </p>
      <p>
        Con la pipe: {{ nameLower | uppercase }}
      </p>
    </p-card>
  </div>
  <div class="col-12 md:col-4 ">
    <p-card header="lowercase">
      <p>
        Original: {{ nameUpper }}
      </p>
      <p>
        Con la pipe: {{ nameUpper | lowercase }}
      </p>
    </p-card>
  </div>
  <div class="col-12 md:col-4 ">
    <p-card header="titlecase">
      <p>
        Original: {{ fullName }}
      </p>
      <p>
        Con la pipe: {{ fullName | titlecase }}
      </p>
    </p-card>
  </div>
</div>
